.form-inline{
        display: inline !important;
        width:140px !important;
}
.v-top{
    vertical-align: top !important;
}
.v-base{
	vertical-align: baseline !important;
}
.app-brand-logo img{
	height:60px;
}
.hide{
	display: none !important;
}
.pull-right{
	float: right;
}
.w-100{
	width:100%;
}
.w-400p{
	width: 400px;
}
.avatar-label{
	display: block;
    position: relative;
    top: 6px;
}
.nav-link-tab.active{
	color:#fff !important;
	background:#004e98 !important;
}
.tab-bg{
	background: #004e980f;
}
.denied{
	opacity: 0.5 !important;
    pointer-events: none;
}
.add-block{
	margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.selfie{
	height:100px !important;
	width: auto;
}
.selfie-lg{
	height:200px !important;
	width: auto !important;
}
.text-indent-20{
	display: inline-block;
	text-indent: 20px;
}
.text-indent-60{
	display: inline-block;
	text-indent: 60px;
}
.gold-badge{
	border-color:gold;
	border-width: 6px;
	border-style: solid;
}
.silver-badge{
	border: 6px solid silver;
    padding: 2px;
}
.user-level{
	display: inline-block;
	width: 100%;
}
.text-normal{
	text-transform: none;
}
.fs-16{
	font-size: 16px !important;
}
.fs-18{
	font-size: 18px !important;
}
.fs-24{
	font-size: 24px !important;
}
.custom-table tr > td{
	padding: 4px 8px !important;
}
a.bg-primary:hover, 
a.bg-primary:focus{
	background-color: #256db2 !important;
    color: #fff;
}
.member-name{
	display: inline-block;
}
.featured-badge {
	--badge-size: 1.8rem;
	height: var(--badge-size);
	width: var(--badge-size);
	position: relative;
  }
  /* add ribbons */
  .featured-badge::before,
  .featured-badge::after {
	content: '';
	position: absolute;
	top: 50%;
	width: calc(var(--badge-size) / 4);
	height: calc(var(--badge-size) * 0.75);
	background: #ff0000;
	border-width: 0 calc(var(--badge-size) / 16);
	border-color: #140037;
	border-style: solid;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0% 100%);
  }
  .featured-badge::before {
	left: 0; transform: translateX(100%) rotate(25deg);
  }
  .featured-badge::after {
	right: 0; transform: translateX(-100%) rotate(-25deg);
	z-index: 0;
  }
  /* text */
  .featured-badge span {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	width: var(--badge-size);
	height: var(--badge-size);
	font-size: calc(var(--badge-size) / 3);
	font-weight: bold;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0.025em 0.025em 0.1em #303030;
	border-radius: 50%;
	z-index: 3;
  }
  /* text area */
.featured-badge span::before {
	content: '';
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	width: 85%; 
	height: 85%;
	box-shadow: 0.025em 0.025em 0.1em #303030 inset;
	border-radius: 50%;
	z-index:-1;
	background:#9E9E9E;
}
.lvl{
	color: #ffffff !important;
    font-size: 14px !important;
	background:#9E9E9E;
}
.bg-gold,
.bg-gold::before{
	background: #f0c808 !important;
}
.inactive{
	opacity: 0.6;
}
.block{
	display: block;
}
.text-capitalized{
	text-transform: capitalize !important;
}